<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table border="1"> User Info
<tr>
    <th>ID</th>
    <th>Username</th>
    <th>email</th>
</tr>
<tr>
    <td th:text="${user.getId()}"/>
    <td th:text="${user.getUsername()}"/>
    <td th:text="${user.getEmail()}"/>
</tr>
</table>
<br/>
<form  action="#"  th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>